{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordermachines list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Odernumber</th>
                <th>Productid</th>
                <th>Orderamount</th>
                <th>Status</th>
                <th>Startdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderMachine in orderMachines %}
            <tr>
                <td><a href="{{ path('ordermachine_show', { 'id': orderMachine.id }) }}">{{ orderMachine.id }}</a></td>
                <td>{{ orderMachine.oderNumber }}</td>
                <td>{{ orderMachine.productID }}</td>
                <td>{{ orderMachine.orderAmount }}</td>
                <td>{{ orderMachine.status }}</td>
                <td>{{ orderMachine.startDate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordermachine_show', { 'id': orderMachine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ordermachine_edit', { 'id': orderMachine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordermachine_new') }}">Create a new orderMachine</a>
        </li>
    </ul>
{% endblock %}
