{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamówienie nr: {{ orderMachine.oderNumber }} </h1>

    <table class="table table-bordered" style="background-color: black">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orderMachine.id }}</td>
            </tr>
            <tr>
                <th>Odernumber</th>
                <td>{{ orderMachine.oderNumber }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ orderMachine.productName }}</td>
            </tr>
            <tr>
                <th>Orderamount</th>
                <td>{{ orderMachine.orderAmount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ orderMachine.status }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ orderMachine.startDate|date }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordermachine_index') }}"><button type="button">Powrót</button></a>
        </li>
        <li>
            <a href="{{ path('ordermachine_edit', { 'id': orderMachine.id }) }}"><button type="button">Edycja</button></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
