{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista Produktów</h1>
    

    <table class="table table-bordered" style="background-color: black">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Uom</th>
                <th>Specification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.uoM }}</td>
                <td> {% for key, product in product.tmp %}  <li>{{ key }} -{{ product }}</li> {% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}"><button type="button">Stwórz nowy produkt</button></a>
            <a href="{{ path('Index') }}"><button type="button">Ekran Główny</button></a>      
            
        </li>
    </ul>
{% endblock %}
