{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="container">Utworzenie Produktu</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
 <h2>Specyfikacja</h2>
    <div id="addSpecification" class="container " >

        <div class="group addWindow">
            <select name="ingredient[]">
                {% for product in products %}
                    <option value="{{product.name}}">{{product.name}}</option>
                {% endfor %}
            </select>

            <input type="number" name="quantity[]">
        </div>
        <button id="add" type="button" >Dodaj składnik</button>
        <button id="remove" type="button" >Usuń Składnik</button>
    </div>

    <input type="submit" value="Utwórz">
    {{ form_end(form) }}

     <a href="{{ path('product_index') }}"><button type="button">Powrót</button></a>

{% endblock %}
{% block javascripts %}<script src="{{ asset('js/buttonProduct.js')}}"></script>{% endblock %}
