{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stan Magazynowy</h1>

    <table class="table table-bordered " style="background-color: black">
        <thead>
            <tr>
                <th>Id</th>
                <th>Material</th>
                <th>Amount</th>
                <th>Uom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td><a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">{{ warehouse.id }}</a></td>
                <td>{{ warehouse.material }}</td>
                <td>{{ warehouse.amount }}</td>
                <td>{{ warehouse.uoM }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('Index') }}"><button type="button">Ekran Główny</button></a> 

{% endblock %}
